.headerContainer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

.containerLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    span{
        font-size: 25px;
        font-family: 'Climate Crisis', sans-serif;
        color: white;

        @media (max-width:860px) {
            font-size: 20px;
        }
    }
    
}

.containerSearch{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.containerNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    color: white;
    gap: 20px;

    .navList{
        width: fit-content;


        @media (max-width:860px) {
            display: none;
        }
    }
}